In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('daily_temperature_timeseries.csv')

In [3]:
data.head()

         Date  Temp
0  1981-01-01  20.7
1  1981-01-02  17.9
2  1981-01-03  18.8
3  1981-01-04  14.6
4  1981-01-05  15.8

In [7]:
# mean of the time series data
mean = np.mean(data['Temp'])

# variance of the time series data
variance = np.var(data['Temp'])

# Autocorrelation function (ACF) measures the correlation of a series with its past values.
# You can use the Pandas `autocorr` method for this.
autocorrelation = pd.Series(data['Temp']).autocorr()

In [8]:
print("Mean of temperature from the data:", mean)
print("Variance of temperature from the data:", variance)
print("Autocorrelation of temperature from the data:", autocorrelation)

Mean of temperature from the data: 11.177753424657535
Variance of temperature from the data: 16.575313309063674
Autocorrelation of temperature from the data: 0.7748702165384459