In [38]:
import pandas as pd
from statsmodels.tsa.stattools import adfuller

In [39]:
data = pd.read_csv('daily_min_temp.csv')
data

            Date Daily minimum temperatures
0       1/1/1981                       20.7
1       1/2/1981                       17.9
2       1/3/1981                       18.8
3       1/4/1981                       14.6
4       1/5/1981                       15.8
...          ...                        ...
3645  12/27/1990                         14
3646  12/28/1990                       13.6
3647  12/29/1990                       13.5
3648  12/30/1990                       15.7
3649  12/31/1990                         13

[3650 rows x 2 columns]

In [40]:
data.columns = ['Date', 'Temp']

In [41]:
data['Temp']=data['Temp'].str.replace('?','-')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_8248\545920254.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Temp']=data['Temp'].str.replace('?','-')

In [42]:
# Convert the 'Date' column to datetime format
data['Date'] = pd.to_datetime(data['Date'])
print(data.head())
print(data.shape)

        Date  Temp
0 1981-01-01  20.7
1 1981-01-02  17.9
2 1981-01-03  18.8
3 1981-01-04  14.6
4 1981-01-05  15.8
(3650, 2)

In [43]:
# Set 'Date' as the index
data.set_index('Date', inplace=True)
data.head()

            Temp
Date
1981-01-01  20.7
1981-01-02  17.9
1981-01-03  18.8
1981-01-04  14.6
1981-01-05  15.8

In [44]:
# Dickey-Fuller test
result = adfuller(data['Temp'])
result

(-4.446729727383281,
 0.00024513360704154623,
 20,
 3629,
 {'1%': -3.4321532327220154,
  '5%': -2.862336767636517,
  '10%': -2.56719413172842},
 16644.560445711824)

In [45]:
# ADH statistic and p-value
adf_statistic = result[0]
p_value = result[1]

print(f'ADF Statistic: {adf_statistic}')
print(f'p-value: {p_value}')

# results
if p_value <= 0.05:
    print('The time series is stationary (p-value <= 0.05).')
else:
    print('The time series is non-stationary (p-value > 0.05).')

ADF Statistic: -4.446729727383281
p-value: 0.00024513360704154623
The time series is stationary (p-value <= 0.05).